<script type="text/html" class="reminder_templates" data-identifier="task_template">
<% if (url != '') { %>
    <span><a class="hash-navigation-link" href="<%= url %>"><%= subject %></a> нужно выполнить к <%= expireAt %></span>
<% } else { %>
    <span><%= subject %> нужно выполнить к <%= expireAt %></span>
<% } %>
</script>
