<p>Экспресс отчет сформирует документ со стандартными параметрами для отчета по договору почасового обслуживания</p>
<script>
        require(['jquery'], function($){
            $('[name="form[client]"]').on('change', function(e){
                if(e.val)
                    $('#express').removeClass('disabled');
                else
                    $('#express').addClass('disabled');
            });
            $('#express').click(function(e){
                if($(this).attr('href') == '#'){
                    if($(this).hasClass('disabled')){
                        e.preventDefault();
                        return false;
                    }
                    var id = {{report_id}};
                    var client = $('[name="form\[client\]"]').val();
                    $(this).attr('href', '' + id + '/default/' + client);
                }
                
            });
        });
        </script>