{% extends 'OroUIBundle:actions:update.html.twig' %}
{% oro_title_set({params : {"%entity.subject%": 'Выбрать клиента для отчета', "%entityName%": '' }}) %}


{% block navButtons %}
    {{ UI.saveAndCloseButton('Выбрать клиента') }}
    {{ UI.cancelButton(path('nb_workunit_index')) }}
{% endblock navButtons %}

{% block pageHeader %}
        {% set title = report_info.report %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
{% endblock pageHeader %}

{% block content_data %}
    {%- set definition -%}
        {% include express_definition %}
    {%- endset -%}
    {%- set bt -%}
        <div class="clearfix"><a href="#" id="express" class="btn back disabled icons-holder-text btn-success no-hash"
                             ><i class="icon-cloud-download"></i>Экспресс отчет</a></div>
        
    {%- endset -%}
    {% set id = 'client-choice-form' %}
    {% set dataBlocks = [{
        'title': 'Общие сведения',
        'class': 'active',
        'subblocks': [
            {
                'title': '',
                'data': [

                    form_widget(form),
                    bt
                ]
            },
            {
                'title': '',
                'data': [
                    
                    definition
                ]
            }
        ]
    }] %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}