{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block content %}
<div class="layout-content">
    <div class="container-fluid page-title">
    	<div class="navigation clearfix navbar-extra navbar-extra-right">
            <div class="row">
                <div class="pull-left pull-left-extra">
                	<div class="clearfix customer-info well-small customer-simple">
                		<div class="customer-content pull-left">
                            <div class="clearfix">
                            	<h1 class="user-name">Табель-Календарь</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="pull-right title-buttons-container">
                    	{{ UI.button({
							    	'id': 'create-event', 
							    	'path': '#',
							    	'aCss': 'btn-primary',
							    	'label': 'Создать событие'
							    }) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="layout-content scrollable-container">
		<div id="calendar-container"></div>
		<script type="text/javascript">
			require(['jquery'], function($){
				var updateUrl = '{{path('nb_api_get_table')}}';
				var y = '{{year}}';
				var m = '{{month}}';
				function upd(updateUrl, y, m){
					$.getJSON(updateUrl, {year: y, month: m}, function(json, textStatus) {
						console.log(json);
						var days = parseInt(json["meta"].days);
						var html = '<div class="table-calendar-container scrollable-container"><div class="table-calendar-toolbar fc"><div class="fc-left"><div class="fc-button-group"><button class="fc-prev-button fc-button fc-state-default fc-corner-left" type="button"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button class="fc-next-button fc-button fc-state-default fc-corner-right" type="button"><span class="fc-icon fc-icon-right-single-arrow"></span></button></div><h2>'+json.meta.monthName+' '+json.meta.year+'</h2></div></div><div class="table-calendar"><table class="tc table table-hover table-condensed">';
						//head
						html += '<thead><tr>';
						for(var i=0; i<= days; i++){
							if(i != 0)
								html += '<th>' + i + '</th>';
							else
								html += '<th>Сотрудник</th>';
						}
						html += '</thead></tr>';
						//body
						for (var i = 0; i < json.cal.length; i++) {
							html += '<tr><td class="user-td">' + json.cal[i].user.name + '</td>';
							for(var j=1; j <= days; j++){
								html += '<td>';
								if(json.cal[i].units.hasOwnProperty(j))
									html += json.cal[i].units[j];
								
								html += '</td>'
							}
							html += '</tr>';
						};

						html += '</table></div></div>';
						$('#calendar-container').html(html);
						$('.fc-prev-button').click(function(){
							var m = parseInt(json.meta.month);
							var y = parseInt(json.meta.year);
							if(m == 1){
								m = 12;
								y -= 1;
							}
							else
								m -= 1;
							if(y == 2012)
								y = 2015;
							upd(updateUrl, y, m);
						});
						$('.fc-next-button').click(function(){
							var m = parseInt(json.meta.month);
							var y = parseInt(json.meta.year);
							if(m == 12){
								m = 1;
								y += 1;
							}
							else
								m += 1;
							
							upd(updateUrl, y, m);
						});
					});
				}
				
				upd(updateUrl, y, m);
			});
		</script>
	</div>
</div>
{% endblock content %}